
<div class="text-center">
    <h1 class="display-4">Alejandro Builes Restrepo</h1>
    <h2> Tecnico en Desarrollo de Software y estudiante de Tecnologia ADSO.</h2>
    <img id="foto" src="~/imagenes/nano.jpg" alt="A mimir" />
</div>

@* <div class="text-center">

    <img id="imagen-net" src="~/imagenes/" alt="Logo saberes"/>


</div> *@

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio de servicios de valor agregado</h1>
        <p>
            Soy desarrollador de software certificado, con experiencia de 2 años en desarrollo web
        </p>

    </div>

</div>